[package]
name = "kaleidoscope"
version = "0.1.0"
authors = ["Alekos Filini <@afilini>"]

[dependencies]
clap = "~2.32.0"
bitcoin = "~0.14.2"
strason = "0.4"
jsonrpc = { git = "https://github.com/apoelstra/rust-jsonrpc.git", tag = "0.9.0" }
rgb = { git = "https://github.com/rgb-org/rgb.git", rev = "dd51ef945b778ac0d1f010232ec3a8394c4142cd" }

[dependencies.hyper]
version = "0.9.18"
default-features = false

[features]
default = []
ssl = ["hyper/ssl"]